name: cctp-src
description: Indexing circle etheruem cctp contracts
startBlock: 91339254
userId: google-oauth2%7C113106604109449522744
projectId: 9b8821f7-0942-4afa-b739-6d2560166cb2
network: Arbitrum
user: prady-cctp
schema:
  file: ./studio.schema.ts
execution: parallel
Resources:
  - Name: tokenmessenger
    Abi: src/abis/tokenmessenger.json
    Type: contract/event
    Address: "0x19330d10D9Cc8751218eaf51E8885D058642E08A"
    Triggers:
      - Event: DepositForBurn(uint64 indexed,address indexed,uint256,address indexed,bytes32,uint32,bytes32,bytes32)
        Handler: src/handlers/DepositForBurn.DepositForBurnHandler
  - Name: tokenMinter
    Abi: src/abis/tokenMinter.json
    Type: contract/event
    Address: "0xE7Ed1fa7f45D05C508232aa32649D89b73b8bA48"
    Triggers:
      - Event: SetBurnLimitPerMessage(address indexed,uint256)
        Handler: src/handlers/SetBurnLimitPerMessage.SetBurnLimitPerMessageHandler
  - Name: messageTransmitter
    Abi: src/abis/messageTransmitter.json
    Type: contract/event
    Address: "0xC30362313FBBA5cf9163F0bb16a0e01f01A896ca"
    Triggers:
      - Event: MessageReceived(address indexed,uint32,uint64 indexed,bytes32,bytes)
        Handler: src/handlers/MessageReceived.MessageReceivedHandler
