name: cctp-src
description: Indexing circle etheruem cctp contracts
startBlock: 25114705
userId: google-oauth2%7C113106604109449522744
projectId: 9b8821f7-0942-4afa-b739-6d2560166cb2
network: Avalanche
user: prady-cctp
schema:
  file: ./studio.schema.ts
execution: parallel
Resources:
  - Name: tokenmessenger
    Abi: src/abis/tokenmessenger.json
    Type: contract/event
    Address: "0x6b25532e1060ce10cc3b0a99e5683b91bfde6982"
    Triggers:
      - Event: DepositForBurn(uint64 indexed,address indexed,uint256,address indexed,bytes32,uint32,bytes32,bytes32)
        Handler: src/handlers/DepositForBurn.DepositForBurnHandler
  - Name: tokenMinter
    Abi: src/abis/tokenMinter.json
    Type: contract/event
    Address: "0x420f5035fd5dc62a167e7e7f08b604335ae272b8"
    Triggers:
      - Event: SetBurnLimitPerMessage(address indexed,uint256)
        Handler: src/handlers/SetBurnLimitPerMessage.SetBurnLimitPerMessageHandler
